<div
    class="footer"
    style="background-color: #e7ad1a; width: 100%; height: fit-content; padding: 1rem 0; color: #1c1b1b"
>
    <div class="footer__content-wrapper">
        <div class="footer__logo" style="padding: 0 1rem">
            <img
                src="https://cdn.shopify.com/s/files/1/0544/2600/9779/files/musta_ilman_taustaa_a9c0489c-3200-4c54-972b-f5091b731c42_170x@2x.png?v=1614267179"
                alt="linkosuo-logo"
                class="footer__logo-icon"
                style="width: 12rem; display: block; margin: 0 auto"
            />
        </div>
    </div>
    <div class="footer__address" style="color: #1c1b1b">
        <div class="footer__address-item" style="margin-top: 1rem; text-align: center">
            <h1
                class="footer__address-company"
                style="font-weight: 600; text-align: center; font-size: 1.1rem; margin: 0"
            >
                Linkosuo Kahvila Oy
            </h1>
            <p class="footer__address_line" style="font-size: 0.9rem; margin: 0">PO Box 77</p>
            <p class="footer__address_line" style="font-size: 0.9rem; margin: 0">33101 TAMPERE</p>
            <p class="footer__address_line" style="font-size: 0.9rem; margin: 0">FINLAND</p>
        </div>
        <div class="footer__address-item" style="margin-top: 1rem; text-align: center">
            <h1 class="footer__address-company" style="font-weight: 600; font-size: 1.1rem; margin: 0">
                Visiting address
            </h1>
            <p class="footer__address_line" style="font-size: 0.9rem; margin: 0">Mannakorventie 1, 36420 Kangasala</p>
        </div>
    </div>
</div>
